html, body {
  color:black;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-family: 'Fredoka One', cursive, sans-serif;
}

body::-webkit-scrollbar-track {
  background-color: turquoise;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(224, 0, 150);
}